@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll & base styling */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bgPrimary text-textPrimary font-sans;
}

html {
  scroll-behavior: smooth;
}
